.BannerHome {
  height: 100vh;
  width: 100%; 
  background-size: cover;
  background-position: center;
  display: flex; 
  justify-content: center; 
  align-items: center;
  filter: brightness(40%) blur(0.5px) contrast(90%);
  
}

.RedText {
  color: red;
}

.Overlay {
  color: $pink;
  width: 100vw; 
  height: 100vh;
  position: absolute;
  background-color: none;
  z-index: 50; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}