.FormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  padding: 1rem 4rem;
  background-color: $white;
  border-radius: 0.3rem;
  input {
    background-color: rgba($pink, 0.2);
  }
  textarea {
    background-color: rgba($pink, 0.2);
  }
}


.FormRow {
  text-align: left;
  line-height: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  label {
    font-weight: bold;
  }
  textarea {
    resize: none;
  }
}