.Button {
  outline: none;
  color: black;
  font-size: 1.8rem;
}

.ButtonWhite {
  outline: none;
  color: white;
  margin-left: 0.2rem;
  font-size: 3rem;
}

.Button:hover {
  color: orangered;
}

.ButtonWhite:hover {
  color: orangered;
}