.Container h1 {
  margin-bottom: 0px;
  color: $pink;
  box-shadow: $white;
}

.Container {
  height: 90%; 
  width: 80vw;
  margin: auto; 
  display: grid; 
  align-items: center; 
  justify-items: center;
}

@media (max-width: 800px) {
  .Container {
    width: 100vw;
    margin-top: 5.5rem;
    align-items: stretch;
    justify-content: stretch;
  }

  h1 {
    margin-top: 0.2rem;
  }
}
