.Wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  width: 100%;
  background-color: $white;
  margin: 0 auto;
  border-radius: 2.5rem;
  
}

.ImageHolder {
  border-radius: 2.5rem 2.5rem 0 0;
  width: 100%; 
  height: 40rem;
  
}



@media (min-width: 500px) and (max-height: 700px) {
  .ImageHolder {
  height: 50rem;
}
}

@media (min-width: 700px) {
  .ImageHolder {
  height: 30rem;
}
}

// .CardImage {
//   height: 40rem;
// }

.Text {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  padding: 1rem;
  height: 100%
  p {
    text-align: center;
  }

  h3 {
    color: $black;
  }
}

// @media (min-width: 600px) {
//   .CardImage {
//     height: 40rem;
//   }
  
// }

// @media (max-width: 800px) {
//   .Wrapper {
//     width: 100vw;
//     flex-direction: column;
//   }
//   .Inner {
//     width: 100vw;
//     color: $pink;
//   }
// }

// .Inner {
//   width: 35rem;
//   padding: 0 1rem 0 1rem;
//   color: $gray; 
//   display: flex;
//   flex-direction: column;
//   background-color: $white;
//   h3 {
//     color: $black;
//   }
// }

