.SideDrawer {
  height: 100vh;
  background-color: $white;
  
  width: 70vw;
  max-width: 400px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  box-shadow: 5px 5px 5px -4px rgba(54, 54, 54, 0.75);
  ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style-type: none;
    justify-content: center;
    height: 100%;
  }
  li {
    font-size: large;
    margin: 0.5rem 0;
  }
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: gray;
  }
  a:active {
    color: gray;
  }
}

