.HomeLink {
  color: white;
  text-decoration: none;
}

.Header {
  margin: 0;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}